


body
{
	
	font-family: poppins;
	font-size: 12px;
}

.form{
    background-color: #d5dde6;
    position: relative;
    top: 5px;
	margin: 2%;
    padding: 15px;
    border-style: double;
    border-radius: 10px;
}

